.scrl::-webkit-scrollbar {
  width: 5px;
}
.scrl::-webkit-scrollbar-track {
  background: #0b2138;
}
.scrl::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid #fbca04;
}

.scrl2::-webkit-scrollbar {
  width: 5px;
}
.scrl2::-webkit-scrollbar-track {
  background: #fbca04;
}
.scrl2::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid #0b2138;
}
* {
  font-family: "Dosis";
}

@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap");
* {
  font-family: "Ropa Sans", sans-serif;
}
